{% extends "admin/change_list.html" %}
{% load i18n static %}

{% block content_title %}
    <h1>{% trans 'Отчет по продажам' %}</h1>
{% endblock %}

{% block result_list %}
    <div class="results">
        <div class="module">
            <h2>{% trans 'Общая статистика' %}</h2>
            <table>
                <tr>
                    <th>{% trans 'Общая сумма продаж' %}</th>
                    <td>{{ total_sales|floatformat:2 }} ₽</td>
                </tr>
                <tr>
                    <th>{% trans 'Количество заказов' %}</th>
                    <td>{{ total_orders }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Средний чек' %}</th>
                    <td>{{ avg_order_value|floatformat:2 }} ₽</td>
                </tr>
            </table>
        </div>
    </div>
    {{ block.super }}
{% endblock %}
